<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="pl" />
  <meta name="Keywords" content="wypożyczalnia, samochód, auto" />
  <meta name="Description" content="Wypożyczalnia samochodów" />
  <meta name="Robots" content="ALL" />
  <link rel="stylesheet" href="style.css" type="text/css" />

  <title>Wypożyczalnia samochodów</title>
</head>
<body>

<div class="tlo">
	<div id="logo"><h1>Wypożyczalnia samochodów</h1></div>
	<div id="kontener">
		<div class="menu">

    <dl>
    <dt>Menu</dt>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="http://v-ie.uek.krakow.pl/~s182027/app_dev.php">Strona Główna</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Samochody</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Oferta</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Cennik</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Zaloguj się</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Odnośnik 06</a></dd>
    <dd><img src="images/menu.jpg" alt="menu" />&nbsp;<a href="#">Odnośnik 07</a></dd>

    </dl>

		</div>

		<div class="tresc">
		<div class="tytul">Wypożyczalnia samochodów</div>
		<div class="tekst">

  	<p><center>Wypożyczalnia samochodów oferuje tanie i wysokiej jakości usługę wynajmu samochodów.<br>
Wypożyczalnia działa na terenie polski południowej - w Krakowie, Katowicach, Rzeszowie, Wrocławiu i innych miastach, podstawiamy samochody na lotniska i w miejsca ustalone przez klienta.<br> 
Nasza wypożyczalnia aut oferuje Państwu krótko i długoterminowy wynajem bezpiecznych i wygodnych pojazdów osobowych. Naszym priorytetem jest wypożyczanie samochodów z zachowaniem wysokiej jakości usług przy możliwie najniższej cenie!
<br><br><br><br><br>
Wszystkie oferowane auta są nowe, systematycznie serwisowane i staranie przygotowane do wynajmu.</center></p>
<br><br><br><br><br><br><br><br><br><br>
       		</div>

		</div>
	</div>
	<div id="stopka">
	</div>
</div>

</body>
</html>
